.heading {
  line-height: 1.4;
  margin-bottom: 16px;
  color: #F1F1F1;
}

p + .heading,
ol + .heading,
ul + .heading {
  margin-top: 40px;
}

.heading--h1 {
  font-size: 28px;
  font-weight: 600;
}

.heading--h2 {
  font-size: 21px;
  font-weight: 500;
}

.heading--h3 {
  font-size: 17px;
  font-weight: 500;
}

.heading--hero {
  font-size: 42px;
}
