html {
	background: #2C2443;
}

.app {
	min-width: 100vw;
	min-height: 100vh;
	overflow: auto;
}

.app__content {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	line-height: 1;
	max-width: 600px;
	margin: 100px auto 100px;
	padding: 0 16px;
}

@media only screen and (max-width: 600px) {
	.app__content {
		margin-top: 48px;
	}
}

.app__logo {
	width: 64px;
	height: 64px;
	margin: 0 0 32px;
}
