.text-input {
  margin: 32px 0;

}

.text-input__label {
  margin-bottom: 16px;
  display: block;
  width: 100%;
  cursor: pointer;
  color: #FFF;
  font-size: 15px;
  font-weight: 500;
}

.text-input__input {
  height: 48px;
  padding: 0 16px;
  font-size: 16px;
  color: #FFF;
  border-radius: 3px;
  box-sizing: border-box;
  border: none;
  background: none;
  --webkit-appearance: none;
  border: 1px solid transparent;
  display: block;
  width: 100%;
  outline: none;
  background: rgba(255, 255, 255, 0.05)
}

.text-input__input:focus {
  border-color: #FFF;
}

.text-input__input::placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
}
